.subnavbar.navbar-fixed-top
  .subnavbar-inner
    .container-fluid
      %ul.mainnav
        %li{class: subnav_item_class("event-staff-dashboard-link")}
          %a{:href => event_staff_path(slug), :class => "text-primary", :method => :post}
            %i.fa.fa-dashboard
            %span Dashboard
        %li{class: subnav_item_class("event-staff-info-link")}
          %a{:href => event_staff_info_path(slug), :class => "text-primary", :method => :post}
            %i.fa.fa-info-circle
            %span Info
        %li{class: subnav_item_class("event-staff-teammates-link")}
          %a{:href => event_staff_teammates_path(slug), :class => "text-primary", :method => :post}
            %i.fa.fa-users
            %span Team
        %li{class: subnav_item_class("event-staff-config-link")}
          %a{:href => event_staff_config_path(slug), :class => "text-primary", :method => :post}
            %i.fa.fa-wrench
            %span Config
        %li{class: subnav_item_class("event-staff-guidelines-link")}
          %a{:href => event_staff_guidelines_path(slug), :class => "text-primary", :method => :post}
            %i.fa.fa-list
            %span Guidelines
        %li{class: subnav_item_class("event-staff-speaker-emails-link")}
          %a{:href => event_staff_speaker_email_notifications_path(slug), :class => "text-primary", :method => :post}
            %i.fa.fa-envelope-o
            %span Speaker Emails
